<header class="menu-bar-container">
  <div class="menu-bar-container__logo">
    <img src="assets/ps-logo.png" alt="PSN Logo" srcset="" />
  </div>
  <div class="menu-bar-container__item">
    <ul>
      <li>
        <a href="https://www.facebook.com/arseniumgx" target="_blank"
          >Facebook</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/arseniumgx" target="_blank"
          >Linkedin</a
        >
      </li>
      <li>
        <a href="https://www.github.com/arseniumgx" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://twitter.com/arseniumgx" target="_blank">Twitter</a>
      </li>
    </ul>
  </div>
</header>
